from typing import Optional, List
from pydantic import BaseModel, Field
from typing_extensions import Annotated

class {{ model_name }}BaseScheme(BaseModel):{% for column in columns %}{% if column.name != 'id' %}{% if column.nullable == 0 %}{% if column.length %}{% if column.default %}{% if column.type == 'str' %}
    {{ column.name }}: Annotated[{{ column.type }}, Field(max_length={{column.length}})] = '{{column.default}}'{% else %}
    {{ column.name }}: Annotated[{{ column.type }}, Field(max_length={{column.length}})] = {{column.default}}{% endif %}{% else %}
    {{ column.name }}: Annotated[{{ column.type }}, Field(max_length={{column.length}})]{% endif %}{% else %}{% if column.default %}
    {{ column.name }}: Annotated[{{ column.type }}, Field()] = {{column.default}}{% else %}
    {{ column.name }}: Annotated[{{ column.type }}, Field()]{% endif %}{% endif %}{% else %}{% if column.length %}{% if column.default %}{% if column.type == 'str' %}
    {{ column.name }}: Optional[Annotated[{{ column.type }}, Field(max_length={{column.length}})]] = '{{column.default}}'{% else %}
    {{ column.name }}: Optional[Annotated[{{ column.type }}, Field(max_length={{column.length}})]] = {{column.default}}{% endif %}{% else %}
    {{ column.name }}: Optional[Annotated[{{ column.type }}, Field(max_length={{column.length}})]]{% endif %}{% else %}{% if column.default %}
    {{ column.name }}: Optional[Annotated[{{ column.type }}, Field()] = {{column.default}}]{% else %}
    {{ column.name }}: Optional[Annotated[{{ column.type }}, Field()]]{% endif %}{% endif %}{% endif %}{% endif %}{% endfor %}


class {{ model_name }}AddScheme({{ model_name }}BaseScheme):
    pass


class {{ model_name }}UpdateScheme({{ model_name }}BaseScheme):{% for column in columns %}{% if column.name != 'id' %}{% if column.length %}{% if column.default %}{% if column.type == 'str' %}
    {{ column.name }}: Optional[Annotated[{{ column.type }}, Field(max_length={{column.length}})]] = '{{column.default}}'{% else %}
    {{ column.name }}: Optional[Annotated[{{ column.type }}, Field(max_length={{column.length}})]] = {{column.default}}{% endif %}{% else %}
    {{ column.name }}: Optional[Annotated[{{ column.type }}, Field(max_length={{column.length}})]]{% endif %}{% else %}{% if column.default %}
    {{ column.name }}: Optional[Annotated[{{ column.type }}, Field()] = {{column.default}}]{% else %}
    {{ column.name }}: Optional[Annotated[{{ column.type }}, Field()]]{% endif %}{% endif %}{% endif %}{% endfor %}


class {{ model_name }}Scheme({{ model_name }}BaseScheme):{% for column in columns %}{% if column.name == 'id' %}
    {{ column.name }}: Annotated[{{ column.type }}, Field()]{% endif %}{% endfor %}
